.PasswordChecker {
    width: 200px;
    margin: 20px;

}

.PasswordChecker input {
    width: 97%;
    border: none;
}

.allBtns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.allBtns button {
    width: 30%;
    border-radius: 5px;
    margin: 2px;
}

.Passed {
    background: #abeeac;
}

.Unpassed {
    background: #ffccca;
}

.Calculator {
    width: 200px;
    padding: 20px;
}

.Calculator input {
    width: 97%;
    border: none;
}